/* .container {
   Если будем центровать
} */
/* HEADER */
.header {
  display: none;
}
/* MAIN */
.main__title-conteiner {
  display: flex;
  margin-top: 42px;
  margin-bottom: 8px;
  margin-right: 24px;
  justify-content: space-between;
}
.main__title {
  padding: 0;
  margin: 0;
  margin-left: 32px;
}
.main__title::before {
  left: -32px;
}

.main__navigation-list {
  flex-wrap: wrap;
  padding-left: 32px;
}

.main__navigation-list::before {
  display: none;
}

.main__menu-button {
  width: 40px;
  height: 40px;
}
.main__menu-short {
  display: flex;
  gap: 32px;
}

.main_menu-item {
  display: flex;
  gap: 8px;
}
.button__label {
  order: -1;
  align-self: center;
}
.button__label:hover {
  opacity: 0.5;
}
.button__label:active {
  opacity: 0.3;
}
.main__menu-button--repair {
  background-image: url("../images/header/ic/repair.svg");
}
.main__menu-button--checkstatus {
  background-image: url("../images/header/ic/checkstatus.svg");
}

.main__content {
  display: flex;
  min-width: 1064px;
  margin-left: 34px;
  margin-right: 24px;
  gap: 36px;
}
.main__content-description {
  flex-basis: 490px;
  flex-grow: 1;
}
.main__content-paragraph {
  margin: 0;
  height: 160px;
  line-height: 20px;
  height: auto;
  max-height: 80%;
}
.main__content-button {
  margin-left: 33px;
  margin-top: 10px;
}

.main__content-image {
  min-width: 536px;
  flex-basis: 536px;
  flex-grow: 1;
  border-radius: 5px;
}

/* Ремонтируемые бренды / слайдер */
.main-brands {
  height: 288px;
}
.subtitle {
  padding: 16px 32px;
}
.main-brands__swiper {
  /* height: 208px;
  height: auto; */
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 0;
  overflow: hidden;
}
.main-brands__cards {
  flex-wrap: wrap;
  height: 160px;
  row-gap: 16px;
  column-gap: 32px;
  overflow: hidden;
}
.brand-card {
  flex-basis: 206px;
}
.main-brands__swiper-button {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  margin-left: 33px;
  color: #1b1c21;
  position: relative;
  margin-top: 24px;
  display: block;
}
.main-brands__swiper-button::before {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url("/images/main/ic/expand.svg");
  left: -33px;
  position: absolute;
}
.main-brands--larger {
  height: auto;
}
.main-brands__cards--larger {
  height: auto;
}
.button_icon--rotate::before {
  transform: scaleY(-1);
}
