.container {
  /* Если будем центровать*/
}
/* HEADER */
.header {
  display: none;
}
/* MAIN */
.main__title-conteiner {
  display: flex;
  margin-top: 42px;
  margin-bottom: 8px;
  margin-right: 24px;
  justify-content: space-between;
}
.main__title {
  padding: 0;
  margin: 0;
  margin-left: 32px;
}
.main__title::before {
  left: -32px;
}

.main__navigation-list {
  flex-wrap: wrap;
  padding-left: 32px;
}

.main__navigation-list::before {
  display: none;
}

.main__menu-button {
  width: 40px;
  height: 40px;
}
.main__menu-short {
  display: flex;
  gap: 32px;
}

.main_menu-item {
  display: flex;
  gap: 8px;
}
.button__label {
  order: -1;
  align-self: center;
}
.main__menu-button--repair {
  background-image: url("../images/header/ic/repair.svg");
}
.main__menu-button--checkstatus {
  background-image: url("../images/header/ic/checkstatus.svg");
}

.main__content {
  display: flex;
  min-width: 1064px;
  margin-left: 34px;
  margin-right: 24px;
  gap: 36px;
}
.main__content-description {
  flex-basis: 490px;
  flex-grow: 1;
}
.main__content-paragraph {
  margin: 0;
  height: 160px;
  line-height: 20px;
  height: auto;
  max-height: 80%;
}
.main__content-button {
  margin-left: 33px;
  margin-top: 10px;
}

.main__content-image {
  min-width: 536px;
  flex-basis: 536px;
  flex-grow: 1;
  border-radius: 5px;
}
