@font-face {
  font-weight: 300;
  font-family: "TT Lakes";
  src: url(../fonts/TTLakes/TTLakes-Light.woff);
}
@font-face {
  font-weight: 400;
  font-family: "TT Lakes";
  src: url(../fonts/TTLakes/TTLakes-Regular.woff);
}
@font-face {
  font-weight: 700;
  font-family: "TT Lakes";
  src: url(../fonts/TTLakes/TTLakes-Bold.woff);
}
html {
  height: 100%;
}
body {
  font-family: "TT Lakes", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-size: 14px;
  color: #1b1c21;
  height: 100%;
}
.container {
  min-width: 320px;
  height: 100%;
  margin: 0 auto;
}
.button {
  padding: 0;
  background-color: inherit;
  border: none;
  font-family: "TT Lakes", sans-serif;
}
/* .button:hover {
  opacity: 0.5;
} */
.button:active {
  opacity: 0.3;
}

/* HEADER */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  height: 88px;
  box-shadow: inset 0px -1px 0px 0px rgba(217, 255, 245, 1);
}
.header__central-column {
  display: none;
}
.header__left-column {
  display: flex;
  width: 170px;
  align-items: center;
}
.header__right-column {
  display: flex;
  width: 118px;
  gap: 16px;
  align-items: center;
  justify-content: flex-end;
}
.header__logo {
  margin: 0 auto;
}
.header__menu-button {
  width: 40px;
  height: 40px;
}
.header__menu-button--burger {
  background-image: url("../images/header/ic/burger.svg");
  order: -1;
}
.header__menu-button--repair {
  background-image: url("../images/header/ic/repair.svg");
  position: relative;
}
.header__menu-button--repair::before {
  content: "";
  width: 2px;
  height: 32px;
  border: none;
  border-radius: 1px;
  background-color: #eaeaea;
  right: 60px;
  top: 4px;
  position: absolute;
}

.header__menu-button--checkstatus {
  background-image: url("../images/header/ic/checkstatus.svg");
}

.header__menu-button--call {
  background-image: url("../images/header/ic/call.svg");
}
.header__menu-button--chat {
  background-image: url("../images/header/ic/chat.svg");
}
.header__menu-button--profile {
  background-image: url("../images/header/ic/profile.svg");
}

/* MAIN */

.main {
  background-color: #f8f8f8;
  min-height: 100%;
}

.main__mobile-menu {
  width: 320px;
  height: 100%;
  font-size: 16px;
  line-height: 24px;
  box-shadow: -2px 0px 4px 0px #454f7e05, 16px 0px 52px 0px #0e185033;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 1000;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  display: none;
}

.mobile-menu__header {
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 17px;
  margin-bottom: 47px;
}

.mobile-menu__logo {
  height: 52px;
}

.mobile-menu__button {
  width: 40px;
  height: 40px;
}
.mobile-menu__button--close {
  background-image: url("../images/main/mobile-menu/close.svg");
  order: -1;
  margin-right: 17px;
}
.mobile-menu__button--search {
  background-image: url("../images/main/mobile-menu/search.svg");
  margin-left: auto;
}

.mobile-menu__menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-left: 24px;
}
.mobile-menu__menu-item {
  margin-bottom: 32px;
  position: relative;
}
.mobile-menu__link {
  text-decoration: none;
  color: #1b1c21;
}
.mobile-menu__link:hover {
  opacity: 0.5;
}
.mobile-menu__link:active {
  opacity: 0.3;
}
.mobile-menu__link--number {
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  margin-top: 12px;
}
.mobile-menu__link--active {
  color: #7e7e82;
}

.mobile-menu__link--active::after {
  content: "";
  width: 4px;
  height: 32px;
  background-color: #41f6d7;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  position: absolute;
  left: -24px;
  top: -4px;
}

.mobile-menu__contacts {
  margin-top: auto;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
}
.mobile-menu__contact-item {
  margin-bottom: 12px;
}

.mobile-menu_contacts-buttons {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  margin-top: 236px;
}

.mobile-menu__button--call {
  background-image: url("../images/header/ic/call.svg");
}
.mobile-menu__button--chat {
  background-image: url("../images/header/ic/chat.svg");
}
.mobile-menu__button--profile {
  background-image: url("../images/header/ic/profile.svg");
}
.mobile-menu__languages {
  margin-top: 40px;
  margin-bottom: 32px;
  padding: 0 24px;
  display: flex;
  gap: 7px;
}

.mobile-menu__languages-item {
  margin: 0;
  padding: 0;
}
.mobile-menu__languages-radio:checked + .mobile-menu__languages-radio-name {
  color: #7e7e82;
}
.mobile-menu__languages-radio:hover + .mobile-menu__languages-radio-name {
  opacity: 0.5;
}
.mobile-menu__languages-radio:active + .mobile-menu__languages-radio-name {
  opacity: 0.3;
}
.mobile-menu__languages-radio {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* язык радио */

/* MAIN */
.main__title {
  margin: 0;
  margin-bottom: 24px;
  padding-top: 24px;
  padding-left: 16px;
  font-size: 28px;
  line-height: 40px;
  position: relative;
}
.main__title::before {
  content: "";
  width: 4px;
  height: 40px;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #41f6d7;
  left: 0;
  position: absolute;
}
.main__menu-short {
  display: none;
}

.main__navigation {
  margin-bottom: 24px;
}
.main__navigation-link {
  display: block;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
  color: #7e7e82;
}
.main__navigation-link--active {
  border: 2px solid #b8ffec;
  border-radius: 6px;
}
.main__navigation-link:hover {
  opacity: 0.5;
}
.main__navigation-link :active {
  opacity: 0.3;
}

.main__navigation-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-left: 16px;
  display: flex;
  white-space: nowrap;
  overflow: scroll;
  align-items: center;
}
/* Тускнение */
.main__navigation-list::before {
  content: "";
  width: 24px;
  height: 40px;
  position: absolute;
  right: 0px;
  background-image: linear-gradient(
    to left,
    rgba(248, 248, 248, 1),
    rgba(248, 248, 248, 0)
  );
}

.main__navigation-list::-webkit-scrollbar {
  display: none;
}

.main__navigation-list::-webkit-scrollbar-thumb {
  display: none;
}

.main__content-paragraph {
  margin: 16px;
  margin-top: 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  height: 90px;
  overflow: hidden;
  text-align: left;
}

.main__content-button {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-left: 48px;
  margin-bottom: 16px;
  color: #1b1c21;
  position: relative;
}
.main__content-button::before {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url("../images/main/ic/expand.svg");
  left: -32px;
  position: absolute;
}
.main__content-image {
  display: block;
  width: 100%;
  height: auto;
}

/* Ремонтируемые бренды / слайдер */
.main-brands {
  height: 196px;
  margin-bottom: 24px;
}
.subtitle {
  margin: 0;
  padding: 16px;
  line-height: 24px;
  font-size: 16px;
  text-transform: uppercase;
  color: #7e7e82;
  font-weight: 400;
  letter-spacing: -0.2px;
  background-image: linear-gradient(to right, #f8f8f8, #ffffff);
  position: relative;
}
.subtitle::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #d9fff5;
  position: absolute;
  top: 0;
  left: 0;
}
.main-brands__swiper {
  padding-left: 16px;
  padding-top: 16px;
}
.main-brands__cards {
  column-gap: 16px;
  height: 100px;
}
.main-brands__swiper::before {
  content: "";
  width: 24px;
  height: 74px;
  position: absolute;
  right: 0px;
  top: 16px;
  background-image: linear-gradient(
    to left,
    rgba(248, 248, 248, 1),
    rgba(248, 248, 248, 0)
  );
  z-index: 100;
}
.brand-card {
  flex-basis: 206px;
  height: 70px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brand-card__link {
  width: 36px;
  height: 36px;
  border: 2px solid #ff3e79;
  border-radius: 50%;
  background: url(../images/main/brands/dropdown.svg) 50% 50% no-repeat;
}

/* Пагинация */
.main-brands__swiper-pagination .swiper-pagination-bullet {
  background-color: #dddddd;
  width: 12px;
  height: 12px;
}
.main-brands__swiper-pagination .swiper-pagination-bullet-active {
  background-color: #b5b6bc;
}
.main-brands .main-brands__swiper-pagination .swiper-pagination-bullet {
  margin: 0 6px;
}
.main-brands__swiper .main-brands__swiper-pagination {
  top: 100px;
  padding: 0;
  margin: 0;
  height: 14px;
}

.main-brands__swiper-button {
  display: none;
}
