/* HEADER */
.header {
  padding: 0 24px;
  justify-content: flex-start;
}
.header__left-column {
  width: 180px;
}
.header__logo {
  margin-right: 0;
  margin-left: 20px;
}
.header__menu-button--burger {
  margin-right: 22px;
  position: relative;
}
.header__menu-button--burger::before {
  content: "";
  width: 2px;
  height: 32px;
  border: none;
  border-radius: 1px;
  background-color: #eaeaea;
  right: -22px;
  top: 4px;
  position: absolute;
}
.header__central-column {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: auto;
  margin-right: 20px;
}

/* MAIN */

.main__title {
  padding-left: 24px;
  margin-bottom: 32px;
}
.main__navigation {
  margin-bottom: 32px;
}
.main__navigation-list {
  padding-left: 24px;
}

.main__content {
  display: flex;
  min-width: 720px;
  margin-left: 24px;
  margin-right: 24px;
  padding-bottom: 40px;
  gap: 48px;
}

.main__content-paragraph {
  margin: 0;
  height: 160px;
  line-height: 20px;
}
.main__content-button {
  margin-left: 33px;
  margin-top: 10px;
  margin-bottom: 0;
}
.main__content-description {
  flex-basis: 312px;
  flex-grow: 1;
}
.main__content-image {
  min-width: 360px;
  flex-basis: 360px;
  flex-grow: 1;
  border-radius: 5px;
}
/* Ремонтируемые бренды / слайдер */
.main-brands {
  height: 288px;
}
.main-brands__swiper {
  padding: 24px;
  padding-bottom: 0;
  overflow: hidden;
}

.subtitle {
  padding: 16px 24px;
}
.main-brands__cards {
  flex-wrap: wrap;
  height: 160px;
  row-gap: 16px;
  column-gap: 24px;
  overflow: hidden;
}
.brand-card {
  flex-basis: 190px;
}
.main-brands__swiper-button {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  margin-left: 33px;
  color: #1b1c21;
  position: relative;
  margin-top: 24px;
  display: block;
}
.main-brands__swiper-button::before {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url("./images/main/ic/expand.svg");
  left: -33px;
  position: absolute;
}
.main-brands--larger {
  height: auto;
}
.main-brands__cards--larger {
  height: auto;
}
.button_icon--rotate::before {
  transform: scaleY(-1);
}
